<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<script type="application/ld+json">
{% autoescape false %}
{{jsonld}}
{% endautoescape %}
</script>

</head>

<body>
<h2> Viewing Dataset '{{dataset.id}}' </h2>

<div class='pullright' style="padding-bottom: 10px">
   <a href="/view?id={{dataset.id}}&format=jsonld">View json-ld</a>
</div>

<div style="clear:both">
<table>
<tr>
<th>Key</th>
<th>Value</th>
</tr>
{% for key, value in dataset.items() %}
    <tr>
      <td>{{key}}</td>
      <td>
          {% if key == 'keywords' %}
             {% for var in value %} 
                <p>{{var}}</p>
             {% endfor %}
          {% else %}
              {{value}}
          {% endif %}
      </td>
    </tr>
{% endfor %}
</table>
</div>
<br/>

<br/>
<br/>
<a href='/'>Back to index</a>
</body>

</html>
